<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
{{#adinfo.tracking_usage_description}}
	<key>NSUserTrackingUsageDescription</key>
	<string>{{adinfo.tracking_usage_description}}</string>
{{/adinfo.tracking_usage_description}}
</dict>
</plist>
